@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); /* Imports a font */

* { /*Basic settings that applies to all unless overwritten*/
    /* Also general settings that will apply to all pages*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    list-style-type: none;
    color: black;

}
body {
    min-height: 100vh;
}
body::-webkit-scrollbar { /*Changing the scrollbar to make it look better*/
    width: 12px;
}
body::-webkit-scrollbar-track {
    background: dimgray;
}

body::-webkit-scrollbar-thumb {
    background-color: lightgray;

}
.navother > ul > a:hover{
    color: rgba(193, 183, 183, 1) !important;
}
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: relative;
    display: none;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
}

/* Style the active link (or home/logo) */
.active {
    background-color: white;
}
.mainnav{
    font-size: 3rem;
    position: center;
    padding-left: calc(10% - 1em);
    padding-right: calc(10% - 1em);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    flex-wrap: wrap;
}
.navother > ul{
    display: flex;
    flex-direction: row;
    flex: 25%;
}
li{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    flex: 1;
}
.logo{
    height: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    display: inherit;
}
.logoname{
    padding-left: 3rem;
    padding-right: 3rem;
}
p{
    width: 100%;
}
div{
    margin-left: 0rem;
}
div > a{
    margin-left: 0rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: rgba(183, 24, 157, 1);
}
article{
    padding-left: 10%;
    padding-right: 10%;
}
.offers{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 100px;
}
@media (max-width: 1450px) {
    .mainnav{
        font-size: 2rem;
    }
    .logoname{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media (max-width: 950px) {
    .topnav{
        display: block;
    }
    .navother{
        display: none;
    }
    .logo{
        display: none;
    }
    .mainnav{
        padding: 0;
    }
}