@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); /* Imports a font */

* { /*Basic settings that applies to all unless overwritten*/
    /* Also general settings that will apply to all pages*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    list-style-type: none;
    color: black;

}
body {
    min-height: 100vh;
}
/*Changing the scrollbar to make it look better for both firefox and chromium*/
* {
    scrollbar-width: thin;
    scrollbar-color: lightgray;
}
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: dimgray;
}

*::-webkit-scrollbar-thumb {
    background-color: lightgray;

}
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: relative;
    display: none;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    margin: 20px;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    width: fit-content;
}

.topnav a:hover {
    text-decoration: underline;
}
/* Style the hamburger menu */
.topnav > .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    cursor: pointer;
}

/* Style the active link (or home/logo) */
.active {
    background-color: white;
    color: rgba(183, 24, 157, 1);
}
.mainnav {
    font-size: 2rem;
    position: center;
    padding-left: calc(10% - 1em);
    padding-right: calc(10% - 1em);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
    flex-wrap: wrap;
}

.navother > ul {
    display: flex;
    flex-direction: row;
    flex: 25%;
}

.navother > ul > a:hover {
    cursor: default;
}

.navother > ul > div > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navother > ul > div > a {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex: 1;
    color: black;
}

.navother > ul > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo {
    height: 100%;
    display: inherit;
    padding: 2rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.logoname {
    margin-left: 0rem;
    color: rgba(183, 24, 157, 1);
}

.logoname:hover {
    text-decoration: underline;
}

p {
    width: 100%;
}

div {
    margin-left: 0;
}

article {
    padding-left: 10%;
    padding-right: 10%;
    min-height: 100vh;
}
.offers{
    width: 100%;
    background-color: rgb(183, 24, 157);
    display: flex;
    justify-content: left;
    align-items: center;
}
.offers > h1{
    padding-left: 1rem;
    color: white;
    font-size: 3vmax;
    text-align: center;
}
.offerbox{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    flex-direction: row;
    width: 300px;
    margin-left:auto;
    margin-right: 100px;
}
.offerone, .offerfour{
    flex: 50%;
    height: 50%;
    background-color: rgb(183, 24, 110);
}
.offertwo, .offerthree{
    flex: 50%;
    height: 50%;
    background-color: rgb(86, 24, 183);
}
.offerone:hover, .offerfour:hover{
    box-shadow: 0 0 3px 3px rgba(86, 24, 183, 0.5);
}
.offertwo:hover, .offerthree:hover{
    box-shadow: 0 0 3px 3px rgba(183, 24, 110, 0.5);
}
img{
    width: 100%;
    height: 100%;
}
.products{
    display: flex;
    margin-top: 100px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.products > div{
    flex: 25%;
    margin-bottom: 1rem;
    height: fit-content;
}
.products > div > img{
    max-height: 288px;
}
.products > div > h1{
    text-align:  right;
}
.products > div > p{
    text-align: center;
}
.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8{
    height: 288px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.img1{
    background-image: url("../images/corsairkeyboardscaled.png");
}
.img2{
    background-image: url("../images/graphicscardscaled.png");
}
.img3{
    background-image: url("../images/mousescaled.png");
}
.img4{
    background-image: url("../images/ethernetcablescaled.png");
}
.img5{
    background-image: url("https://placehold.co/384x288");
}
.img6{
    background-image: url("https://placehold.co/384x288");
}
.img7{
    background-image: url("https://placehold.co/384x288");
}
.img8{
    background-image: url("https://placehold.co/384x288");
}
.img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover, .img6:hover, .img7:hover, .img8:hover{
    box-shadow: 0 0 3px 3px rgba(86, 24, 183, 0.5);
}
/* Footer */
.footercontainer{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer{
    background: black;
    color: gray;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: gray;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.footer1, .footer2, .footer3, .footer4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer1{
    flex-basis: 30%;
}
.footer2{
    flex: 1;
    text-align: center;
}
.footer2 .footerlogo{
    color: rgb(183, 24, 157);
    margin-bottom: 20px;
}
.footer3, .footer4{
    flex-basis: 12%;
    text-align: center;
}
.footer3 a, .footer4 a{
    color: white;
}
.footer hr{
    border: none;
    background: rgb(181, 181, 181);
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
/* Start of css aboutus*/
.mainaboutusdiv{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url("../images/epichackpicture.jpg");
    background-size: contain;
    margin-bottom: 1rem;
}
.mainaboutustitle{
    text-align: center;
    font-size: 4rem;
    color: white;
}
.contactus{
    margin-top: 2rem;
    text-align: center;
}
.mainaboutussubtitle{
    text-align: center;
    margin-bottom: 1rem;
}
.mainaboutustextdiv{
    display: flex;
    margin-left: 18.75%;
    width: 62.5%
}
.mainaboutustextdiv > p{
    flex: 50%;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button */
input[type=submit] {
    background-color: rgb(183, 24, 157);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(137, 11, 116);
}
.form {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}
.contactheader{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
/* Cart css */
.table{
    margin: 80px auto;
}
table{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-collapse: collapse;
}
.cart-product{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: rgb(183, 24, 157);
    font-weight: normal;
}

td{
    padding: 10px 5px;
}
td > input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: rgb(183, 24, 157);
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.summa{
    display: flex;
    justify-content: flex-end;
}
.summa table{
    border-top: 3px solid rgb(183, 24, 157);
    width: 100%;
    max-width: 540px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
@media (max-width: 1250px) {
    .offerbox{
        margin-right: 0;
        transition-property: margin-right;
        transition-timing-function: linear;
        transition-duration: 1s;
        transition-delay: 0s;
    }
    .products > div{
        flex: 33%;
    }
}
/*@media (max-width: 1290px) {
    .offerbox{
        margin-right: 90px;
    }
}
@media (max-width: 1280px) {
    .offerbox{
        margin-right: 80px;
    }
}
@media (max-width: 1270px) {
    .offerbox{
        margin-right: 70px;
    }
}@media (max-width: 1260px) {
    .offerbox{
        margin-right: 60px;
    }
}
@media (max-width: 1250px) {
    .offerbox{
        margin-right: 50px;
    }
}
@media (max-width: 1240px) {
    .offerbox{
        margin-right: 40px;
    }
}
@media (max-width: 1230px) {
    .offerbox{
        margin-right: 30px;
    }
}
@media (max-width: 1220px) {
    .offerbox{
        margin-right: 20px;
    }
}
@media (max-width: 1210px) {
    .offerbox{
        margin-right: 10px;
    }
}
@media (max-width: 1200px) {
    .offerbox{
        margin-right: 0;
    }
}*/
@media (max-width: 1015px) {
    .topnav{
        display: block;
    }
    .navother{
        display: none;
    }
    .logo{
        display: none;
    }
    .mainnav{
        padding: 0;
    }
    article{
        padding: 0;
    }
    .offers{
        flex-direction: column;
    }
    .offerbox{
        margin: 0;
    }
    .products > div{
        flex: 50%;
    }
    .products{
        margin-top: 0;
    }
}
@media (max-width: 500px) {
    .products > div{
        flex: 100%;
    }
    .cart-product p{
        display: none;
    }
}
@media (max-width: 1120px) {
    .footer1, .footer2, .footer3, .footer4{
        flex: 50%;
    }
    .row{
        text-align: center;
    }
}